<?xml version="1.0"?>

<model>
  <name>train_b</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Juan S. Cely</name>
    <email>juanscelygo@gmail.com</email>
  </author>

  <description>
    Adaptation from a model available in https://www.cgtrader.com/free-3d-models/vehicle/train/siemens-es-64-f4-series-189-mrce-livery
  </description>
</model>