<?xml version="1.0"?>

<model>
  <name>little_bench</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Juan S. Cely</name>
    <email>juanscelygo@gmail.com</email>
  </author>

  <description>
    Adaptation from a model by Scopia Visual Interfaces	Systems, s.l. (http://www.scopia.es)
  </description>
</model>