<?xml version="1.0"?>

<model>
  <name>urjc trains Ground Plane</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Juan S. Cely</name>
    <email>juanscelyg@gmail.com</email>
  </author>

  <description>
    A urjc trains ground plane for the URJC Lab.
  </description>
</model>
