<?xml version="1.0"?>

<model>
  <name>train_a</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Juan S. Cely</name>
    <email>juanscelygo@gmail.com</email>
  </author>

  <description>
    Adaptation from a model available in https://www.cgtrader.com/free-3d-models/vehicle/train/eco-rail-track-6100-royal-scot-dummy-old-steam-days
  </description>
</model>