<?xml version="1.0"?>

<model>
  <name>train_c</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Juan S. Cely</name>
    <email>juanscelygo@gmail.com</email>
  </author>

  <description>
    Adaptation from a model available in https://www.cgtrader.com/free-3d-models/vehicle/train/rsd-5-diesel-locomotive-and-a-set-of-rails
  </description>
</model>