<?xml version="1.0"?>

<model>
  <name>poplar</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Juan S. Cely</name>
    <email>juanscelygo@gmail.com</email>
  </author>

  <description>
    Adaptation from a model by Space Mushrooms (info@sweethome3d.com) and Scopia Visual Interfaces Systems, s.l. (http://www.scopia.es)
  </description>
</model>